[2019-03-05 11:01] NanjiaHan opened #2 "The meaning of some parameters"
Hi @LuoweiZhou ，when I read the code, I find these parameters in the "action_prop_dense_cap.py": scst_loss, gated_mask, and learn_mask.
But I don't know what they mean. Can you explain in more detail?  Thank you.

[2019-03-05 11:38] LuoweiZhou commented on #2
Hi Nanjia, please see the followings.
i) `scst_loss` indicates self-critical sequence training (as in https://arxiv.org/abs/1612.00563). We didn't report results w/ this training loss and hence it's deprecated. Still, we keep this option out there in case people need (might need to upgrade some of the code to pytorch 0.4)
ii) `learn_mask` in the `test.py` indicates the mask is learned from the dat

[2019-03-05 11:51] NanjiaHan commented on #2
Oh! Now I understand.Thanks for your reply.

[2019-03-05 11:51] #2 closed

[2019-03-17 16:02] Anton-Velikodnyy opened #3 "How to convert video into appearence features and optical flow features?"
I want to test your model on another dataset.

How would I go about converting a video to appearance features and optical features? The provided links for data seem to have that already done.

Do you have a script saved somewhere that does it, or is there a GitHub repo hiding in the wild?

[2019-03-17 16:34] LuoweiZhou commented on #3
Our feature extraction code is based on this repo: https://github.com/yjxiong/anet2016-cuhk

[2019-03-19 03:45] Anton-Velikodnyy opened #4 "When I try running evaluation command, I get error with"
I tried running just the evaluation. I get this error.
My gpu is 1080. Cuda and pytorch are installed. Verified installation works with
answer from https://stackoverflow.com/questions/48152674/how-to-check-if-pytorch-is-using-the-gpu
Still learning pytorch. I switched device to 0 instead of -1 and was able to get through that error. Why is the device set to -1?
[code]

[2019-03-19 03:56] asafarevich commented on #4
changed the device from -1 to 0, not sure why that was set like that

[2019-03-19 04:04] asafarevich commented on #4
I am trying to run the evaluation, I get the following error. Looks like there is a mismatch in shape between provided model and evaluation built model.
[code]

here is my script to start evaluation...
[code]

[2019-03-19 15:45] LuoweiZhou commented on #4
In the eval script, you need to set the config file to `--cfgs_file ./cfgs/anet.yml` because the rest of the command is for ActivityNet dataset rather than YouCook2 dataset.

[2019-03-20 02:50] asafarevich commented on #4
@LuoweiZhou
My appologies, fixing the command to coincide with yc2, I am able to get past that error.
Here is the updated command
[code]
The new error I get.
[code]

My understanding is that this error is because loader cannot find the dataset for features. I updated the config file, with `feature_root` to point to `densecap/data` in which there is a validation folder. But this does not fix the er

[2019-03-20 03:02] LuoweiZhou commented on #4
No worries. It says your feature root is `feature_root='$HOME/Github/densecap/data'`. Can you check on if `$feature_root\validation` contains the `.npy` feature files for *YouCook2*? Furthermore, [sample_list](https://github.com/LuoweiZhou/densecap/blob/master/data/anet_test_dataset.py#L31) stores the val samples and you might want to double check if it is not empty.

BTW, you're running the e2e m

[2019-03-20 03:54] asafarevich commented on #4
Thank you. I mistakenly thought $HOME would get expanded, where as it did not so my literal path was `$HOME`, but that is not a valid directory.
Also, added  `--learn_mask --gated_mask` thank you for catching that (did not need True for both).
Thank you for all the help.
What am going to see from the evaluation script, is it just print out of the scores?

[2019-03-26 03:19] #4 closed

[2019-03-31 02:25] asafarevich commented on #3
@LuoweiZhou  I extracted the video features from the caffe model you linked. But the output shape of the layers given by paper does not match the shape of the npy files provided.
To be more specifically, (N = number of frames), resnet's 'caffe.Flatten_673' gives a shape of [N, 1, 2048] and bn's 'global_pool' gives a shape of [N,10,1024,1,1]. (I tried several videos to confirm this)

Now resnet is

[2019-03-31 17:10] Anton-Velikodnyy opened #5 "What does downsampling every 0.5 seconds mean?"
I still have a question about this issue, https://github.com/salesforce/densecap/issues/3.
However, piggybacking of the link provided.
Due to "downsampling every 0.5 seconds", does the video extraction models need to be retrained?
I did not see in paper for the linked repo any mentioning of downsampling at 0.5sec.

Also not sure what you mean by the time. Say the video is 30 fps. Does that mean yo

[2019-03-31 17:23] LuoweiZhou commented on #3
Hi @Anton-Velikodnyy, for the motion feature, we disable the oversampling, i.e., we only extract the feature from the center crop. This can be done by setting `over_sample=False` when calling `net.predict_single_flow_stack`. You can refer to [here](https://github.com/yjxiong/anet2016-cuhk/blob/master/pyActionRec/utils/io.py) for details on oversampling.

[2019-03-31 17:32] LuoweiZhou commented on #5
Hi @Anton-Velikodnyy, instead of sampling with [frame intervals](https://github.com/yjxiong/anet2016-cuhk/blob/721426622bd0d2d78df2e4443238e062471d46cd/pyActionRec/action_classifier.py#L108), we sample with [time intervals](https://github.com/yjxiong/anet2016-cuhk/blob/721426622bd0d2d78df2e4443238e062471d46cd/pyActionRec/video_proc.py#L85). This can be done by setting `timely=True, interval=0.5`,

[2019-03-31 17:37] LuoweiZhou commented on #3
Since we no longer use the oversampling, it would be better to resize frames for flow extraction to exactly 224x224 (so the center crop is the whole image). This could be done by setting `flow_stack = self.__flow_extractor.extract_flow(frm_stack, flow_frame_size)` where `flow_frame_size = (224, 224)`

[2019-03-31 17:41] LuoweiZhou commented on #5
One more change regarding this, we revise [this line](https://github.com/yjxiong/anet2016-cuhk/blob/721426622bd0d2d78df2e4443238e062471d46cd/pyActionRec/video_proc.py#L85) to `frame_interval = int(math.ceil(self._real_fps * interval))` such that the entire video could be covered. As a result, we need a `math.ceil` in our frame_to_second [formulation](https://github.com/salesforce/densecap/blob/mas

[2019-03-31 18:05] #5 closed

[2019-03-31 18:12] asafarevich commented on #3
Thank you for the pointers. I set  the flow frame_size to (224,224) and over sample to false. I am not sure why you linked the `flow_stack_oversample` function, because when setting `over_sample=False`, [Given](https://github.com/yjxiong/anet2016-cuhk/blob/1e4e54dc8be77e5389da14eac07eed3236fc52e6/pyActionRec/action_caffe.py#L62) this section of code, `flow_stack_oversample` would not get called fo

[2019-03-31 18:19] LuoweiZhou commented on #3
The `flow_stack_oversample` function performs the oversampling and generates 10 cropped regions. This accounts for the `[N,*10*,1024,1,1]` output size. If you set `over_sample=False` then we will only pick the center crop of size 224x224.

[2019-03-31 18:23] asafarevich commented on #3
My sincerest apologies. I didn't save the file before running the extraction. This part works now.

Are there any other modifications of the anet repo I should be worried with?

[2019-03-31 18:25] LuoweiZhou commented on #3
No worries and great to know that it worked out. I made our modified [repo](https://github.com/LuoweiZhou/anet2016-cuhk-feature) public so you can further refer to.

[2019-04-01 06:51] #3 closed

[2019-04-01 09:28] Anton-Velikodnyy opened #6 "When running densecap with a single video which has an empty list of annotations."
I get the following error
[code]

I traced it back to `vocab` size of `text_proc`  being 4 for some reason (to be more specific, not sure why the items in the dataset determine the shape of the model) from when I give it empty list of annotations. Adding some annotations, increases the vocab size. Should I add 1017 (1011 - 4) vocab words to the annotation, or is there to bypass the 1011 limitation

[2019-04-01 21:43] LuoweiZhou commented on #6
@Anton-Velikodnyy can you post your full command here?

[2019-04-02 03:30] asafarevich commented on #6
[code]
yc2 config file
[code]
I did not see a reason to change the densecap_references or the dur_file.
`video_feature/plasterin.json` (rearanged it for readability)
[code]
Actually now that I am reviewing this, should I be using the masked transformer model instead of the end-to-end? If so whats the difference between the two?

[2019-04-02 03:44] LuoweiZhou commented on #6
If you're working with a new dataset while using the pre-trained model on yc2, you will need to revise the code to encode/numericalize your sentence with yc2 vocab, see [here](https://github.com/salesforce/densecap/blob/master/data/anet_dataset.py#L90). Also, the words in your dataset should also appear in yc2 (otherwise they will be converted to "UNK").
If you decide to augment the yc2 vocab with

[2019-04-02 03:59] asafarevich commented on #6
1. If I want to make a prediction using the model, would the part that parses the video captions, just be the entire vocabulary corpus?
2. Also why is the size of vocab so small? 1011 words isn't a lot. Is that all the words that were in the yc2 captions?

[2019-04-02 16:36] LuoweiZhou commented on #6
1. For now, every time we run the train/eval, the vocab will be generated according to the current [train+val](https://github.com/salesforce/densecap/blob/master/data/anet_dataset.py#L46) data. But you can revise it in the way such that your specified vocab can be loaded. Say if vocab is provided, then do not generate new vocab in [dataset](https://github.com/salesforce/densecap/blob/master/data/a

[2019-04-04 19:05] #6 closed

[2019-05-22 15:34] existence23 opened #8 "num_samples should be a positive integer value, but got num_samples=0"
Every time I ran with the command that:
CUDA_VISIBLE_DEVICES=0 python3 scripts/train.py \
	--dist_url $dist_url \
	--cfgs_file cfgs/yc2.yml \
	--checkpoint_path ./checkpoint/yc2-2L-e2e-mask \
	--batch_size 14 --world_size 1 \
	--cuda \
	--enable_visdom \
	--sent_weight 0.25 \
	--mask_weight 1.0 \
	--gated_mask | tee log/yc2-2L-e2e-mask-0

It always show the error that num_samples should be a posit

[2019-05-22 16:59] LuoweiZhou commented on #8
Hi @existence23, you need to set the paths in the [config](https://github.com/salesforce/densecap/blob/master/cfgs/yc2.yml) file to your data/feature directory, as we mentioned [here](https://github.com/salesforce/densecap#training-and-validation). We will revise the README file to make this more clear.

[2019-05-22 17:44] existence23 commented on #8
Thank you for your quick reply! I'm sorry that I'm still confused. Which paths in the config file should I modify? It seems that the dataset paths point to the yc2 file correctly except the feature_root file. Can I ask what is the feature_root mean? How should I modify the feature_root path?

[2019-05-22 17:46] LuoweiZhou commented on #8
@existence23 you can download the feature files following the instructions [here](https://github.com/salesforce/densecap#annotation-and-feature) for either YouCook2 or ANet. Place the folder in your preferred location and set the path in the config file accordingly.

[2019-05-22 17:50] existence23 commented on #8
Thank you for your reply! I already download the files. I did not noticed that the featured_root should direct to these files. It helps!

[2019-05-22 17:50] #8 closed

[2019-05-23 15:37] existence23 opened #10 "Some annotations in video ./data/training/zudeWqL9ALU does not have any matching proposal"
When I start to train the videos, some of the sample videos shows the message that "Some annotations in video ./data/training/zudeWqL9ALU does not have any matching proposal" but some others not. Is there any reason why this happened?
And every time I tried to train these, it always got stuck in some places and cannot continue? It this might because of there is no enough space for this calculation

[2019-05-23 19:53] LuoweiZhou commented on #10
@existence23 some extreme short segments might not match any of the temporal proposals (i.e., tIoU below a threshold). For the second problem, we are trying to solve it. It should be related to this: https://github.com/LuoweiZhou/densecap/issues/3#issuecomment-495360947

[2019-05-25 05:27] LuoweiZhou commented on #10
@existence23 could you tell me more about your OS version, graphics card type, cuda version, cudnn version, and pytorch version?

[2019-05-25 20:13] existence23 commented on #10
Hi, my OS version is Ubuntu 16.04, graphics card type: "01:00.0 VGA compatible controller: NVIDIA Corporation Device 1e07 (rev a1)"
cuda 9.0 and cudnn 7.4.2 and pytorch 1.1.0

[2019-05-25 20:37] LuoweiZhou commented on #10
@existence23  Our code has not been tested on PyTorch 1.1.0. Can you try PyTorch 0.4 instead? Also, could you run `nvidia-smi` and post your screenshot here?

[2019-05-25 22:28] existence23 commented on #10
![Screenshot from 2019-05-25 18-28-06](https://user-images.githubusercontent.com/35708927/58375160-e9ce4f00-7f1a-11e9-9ab3-45d8750ee929.png)
Thanks for your reply! I'll try PyTorch 0.4 later.

[2019-06-14 03:39] rishabh2301 opened #11 "error with CUDA multiprocessing"
Hi, Thank you very much for the code. I am trying to train the model with the yc2 dataset. I am continuously getting this - ''RuntimeError: Cannot re-initialize CUDA in forked subprocess. To use CUDA with multiprocessing, you must use the 'spawn' start method" after searching through pytorch forum I got to know that this error occurs because the tensor is not transferred to GPU and in the dataload

[2019-06-14 04:31] LuoweiZhou commented on #11
@rishabh2301 we believe this is a device-related issue. We have tested the code on 1080Ti / Titan Xp / V100 etc. and cannot reproduce the same problem. You can refer to a similar issue [here](https://github.com/LuoweiZhou/densecap/issues/3).
As an alternative, you might want to disable the multiprocessing. This might slow things down at the first run, but once you've [saved](https://github.com/sal

[2019-06-14 07:55] rishabh2301 commented on #11
@LuoweiZhou  thank you for your response. I edited the anet_dataset.py script with this :

from torch.multiprocessing import Pool, Process, set_start_method, cpu_count
try:
     set_start_method('spawn')
except RuntimeError:
    pass

for importing the multiprocessing dependencies, and got rid of the previous error. However now I am getting a new error on training - "RuntimeError: cuda runtime err

[2019-06-14 09:02] rishabh2301 commented on #11
So after researching a while now got to know that "there's a bug in python multiprocessing that might keep the child process hanging around, as zombie processes and It is not even visible to nvidia-smi" which is causing the cuda run out of memory error. The solution to this is to kill subprocesses manually which are completed, with kill -9 [pid] . For now I have disabled the multi-processing and t

[2019-06-14 17:36] LuoweiZhou commented on #11
@rishabh2301 thank you for the info! Great to know that you've figured out the reason. Just to make sure you save the positive/negative segments at the first run.

[2019-07-02 06:59] hollowgalaxy opened #12 "Want to try hour video"
Do I need to modify anything to get the captions for the entire hour? I seem to be getting only the first 300 or so seconds.

[2019-07-02 14:35] LuoweiZhou commented on #12
@hollowgalaxy you can increase the arg [--slide_window_size] (in second) to accept longer video input. We assume the current inputs are sampled at [~2 fps](https://github.com/salesforce/densecap/blob/master/scripts/train.py#L69), so for a one-hour long video, you will need to have a ~7200-frame long input (this might go beyond your GPU memory capacity). We'd suggest you take a look at this [repo](

[2019-07-03 03:27] hollowgalaxy commented on #12
Thank you, what I was looking for

[2019-07-03 03:40] hollowgalaxy commented on #12
For `sliding_window_size` would an 1 minute long video be set to 60 or 120 (since the ~2fps)?

[2019-07-03 07:14] LuoweiZhou commented on #12
@hollowgalaxy if your videos have fewer than 480 sampled frames, they will be [zero padded](https://github.com/salesforce/densecap/blob/master/data/anet_dataset.py#L199) to 480at the end during training. During inference, it depends on whether you're learning the [gate](https://github.com/salesforce/densecap/blob/master/data/anet_test_dataset.py#L64) or not.

[2019-07-03 20:12] hollowgalaxy commented on #12
Sorry I may have misconstrued my question. 480 represents seconds in a video? Or number of frames outputed from numpy video features? For the latter, if a video created with outer dim being 480 for resnet and bn, would that fit in its entirety.

[2019-07-03 20:29] LuoweiZhou commented on #12
Latter. The part exceeds 480 will be [trimmed](https://github.com/salesforce/densecap/blob/master/data/anet_dataset.py#L202).

[2019-07-08 09:06] guillaumevr opened #13 "website is down"
Hi,
your website http://youcook2.eecs.umich.edu seems to be down
Could you do something?
thx

[2019-07-08 17:17] LuoweiZhou commented on #13
@guillaumevr it's back on now.

[2019-07-08 18:03] #12 closed

[2019-07-08 19:05] hollowgalaxy commented on #2
Hello, what is the `pos_thresh` argument? Is the threshold for when the start time happens? (based on [this](https://github.com/salesforce/densecap/blob/9eae43ea4819a169c719208c5262a834e20e6b34/model/action_prop_dense_cap.py#L391))

[2019-07-08 19:09] hollowgalaxy opened #14 "Question about the sampling rate calculation."
First question, in the csv with duration and frames. Is the frames number the total number of frames in the video, or is it the number of frames created by the _bn.shape[0]?

Second questions.  For the calculation in [here](https://github.com/salesforce/densecap/blob/9eae43ea4819a169c719208c5262a834e20e6b34/scripts/test.py#L152). Why is are you flooring the rate as opposed to using ceil for the yc

[2019-07-09 04:14] LuoweiZhou commented on #2
@hollowgalaxy In the event proposal module, a proposal is treated as a positive sample during training if it has over `pos_thresh` with an arbitrary GT segment (hence classified as 1 vs. 0 for negative samples).

[2019-07-09 04:23] LuoweiZhou commented on #14
@hollowgalaxy please see the followings.
1. The total number of frames in the video.
2. Please refer to our feature extraction code [here](https://github.com/LuoweiZhou/anet2016-cuhk-feature). ANet is processed with an older version of the repo and yc2 is processed with the latest code which had a minor change regarding the sampling approach.
3. We formulate the frame rate to match the frame rate

[2019-07-11 06:17] #14 closed

[2019-07-21 09:27] maitreya987 commented on #13
Hi,
the website seems to be down again.
Could you please fix it?

[2019-07-21 17:40] LuoweiZhou commented on #13
@maitreya987 sorry there was an issue with the server power backup. We will replace the failed backup asap.

[2019-07-21 18:56] LuoweiZhou commented on #13
@maitreya987 it's back on.

[2019-07-22 08:38] #11 closed

[2019-07-22 09:27] maitreya987 commented on #13
Thanks!

[2019-08-08 00:16] PumpingAcorns opened #16 "Reported Scores"
Hello, I was wondering in your paper in Table 1 if the reported scores are the scores that are averaged across all the tIoU thresholds or if it is from 0.3.
I am unable to attain scores close to those values - is it possible that the model checkpoint provided on the repo is an earlier checkpoint than the one used for the reported scores?

Thanks for your time

[2019-08-08 01:10] LuoweiZhou commented on #16
Hi @PumpingAcorns, our eval [code](https://github.com/LuoweiZhou/densevid_eval) is the official evaluation code from ActivityNet 2017 Challenge. It had a few major bug fixes towards ActivityNet 2018 Challenge (for example [here](https://github.com/ranjaykrishna/densevid_eval/commit/bbbd49d31a038acf2642f7ae158bb6b9da6937fc)). Basically, in the old language eval code, the proposals that do not overl

[2019-08-12 16:35] Unispac opened #17 "Feature Extraction"
Hi.
I want to know how to extract the feature for unseen videos...
Are there any pretrained feature extraction model?
Thanks...

[2019-08-12 16:37] LuoweiZhou commented on #17
Hi @Unispac, please refer to this issue for details: https://github.com/salesforce/densecap/issues/5 and let me know if you have any further questions.

[2019-08-12 16:41] Unispac commented on #17
Thanks!!!
I just see...
Sorry to bother you.

[2019-08-12 16:42] LuoweiZhou commented on #17
No problem, good to know that. Thanks!

[2019-08-13 12:37] Unispac opened #18 "Some questions about the mask"
Hello.
When I am reading your paper, I am a little bit confused about the following paragraph :

"Note that during decoding, the encoder performs the forward propagation again so that the representation of each encoder layer contains only the information for the current proposal. This is different from simply multiplying the mask with the existing representation from the encoder during proposal pr

[2019-08-13 16:55] LuoweiZhou commented on #18
Hi @Unispac, this is a good question and thank you for the suggestion. We did study on the impact of having a single mask or a consistent [mask](https://github.com/salesforce/densecap/blob/master/model/transformer.py#L183) throughout the encoder and in terms of caption generation performance, the latter is better. We hypothesize that since self-attention is capable of attending on the entire input

[2019-08-14 03:34] Unispac commented on #18
Thank you. @LuoweiZhou
I guess I get your point.
You really did an excellent job!!

[2019-08-14 08:01] LuoweiZhou commented on #18
@Unispac Thank you for the nice words! Please free feel to let us know if you have any other questions.

[2019-08-14 14:15] Unispac commented on #18
@LuoweiZhou
Hello, It's me again....
I have already carefully read your code.
But there are two parts which makes me feel weird...

Firstly, It's not difficult to understand that when performing training algorithm, you directly feed the GT Sentences  to the decoder and makes the GT words as the context to motivate the Decoder to generate the next word. But I notice that, when you use the GT words

[2019-08-14 18:05] LuoweiZhou commented on #18
@Unispac Please see below.
i) In the Transformer decoder, an upper triangular mask is applied to self-attention weights to make sure we do not look into future words when generating the current word (the autoregressive property). You can refer to [code](https://github.com/salesforce/densecap/blob/master/model/transformer.py#L103) and Sec. 3.2.3 in [Vaswani et al.](https://arxiv.org/pdf/1706.03762.

[2019-08-15 01:50] Unispac commented on #18
@LuoweiZhou
Oh, I see. Thanks!
But I notice that the encoder is still limited to look into the future.
In general, I think it won't hurt if we conbine the future visual content for encoding...
Is this also based on the same consideration as that in proposal mask ?

[2019-08-15 04:26] LuoweiZhou commented on #18
This is what we referred to as "a consistent mask throughout the (visual) encoder" in the caption generator here: https://github.com/salesforce/densecap/issues/18#issuecomment-520917586

[2019-08-15 07:36] Unispac commented on #18
@LuoweiZhou
Yeah, I get it.
By the way, when I am running the code, NAN appears in the loss during training..
How should I solve it.

[2019-08-19 02:45] Unispac commented on #16
Hi @LuoweiZhou
I seems to meet the same problem.
So, actually do you mean under the new evaluation standard, the scores will be very low due to the penalization on the proposals that do not overlap with GT segments?

[2019-08-19 02:47] Unispac commented on #16
Calculated tIoU: 0.3, Bleu_1: 0.196
Calculated tIoU: 0.3, Bleu_2: 0.094
Calculated tIoU: 0.3, Bleu_3: 0.048
Calculated tIoU: 0.3, Bleu_4: 0.024
--

It seems too low compared with the reported scores..

[2019-08-19 02:58] LuoweiZhou commented on #16
@Unispac Yes. For further assist regarding old/new evaluation metrics please refer to repo [densevid_eval](https://github.com/ranjaykrishna/densevid_eval/issues/2). I'd recommend to include both as the old one emphasizes on the caption quality and the new one considers both localization quality and caption quality.

[2019-08-19 03:03] Unispac commented on #16
@LuoweiZhou
I notice that the model gives too many proposals for a single video, and all their scores are very high.
If the model were used in an application environment, would there be many redundant sentences?
I think it would be hard to set a thereshold to keep the number of sentence low because there are so many proposals that get a high score...

[2019-08-19 03:11] LuoweiZhou commented on #16
This is due to the nature of the event/action proposal problem, which favors recall more than precision. Details on the evaluation metric is [here](http://activity-net.org/challenges/2019/tasks/anet_proposals.html). Would be better to adopt a metric that can balance between recall and precision.

[2019-08-20 07:48] entingsung commented on #11
Hi @rishabh2301 ! I encountered the same problem as you, and trying to use your solution to address it. But I am wondering how do you know which processes should be killed. Could you please give more detail about the solution? Thank you very much.

[2019-08-27 16:06] FrankChJ opened #19 "Error when loading yc2 model"
Hi, when I tried to use the pretrained y2c model, there seems be something wrong
when loading the model for yc2...

RuntimeError: Error(s) in loading state_dict for ActionPropDenseCap:                                                                                                                                   Missing key(s) in state_dict: "prop_out.16.0.weight", "prop_out.16.0.bias", "prop_out

[2019-08-27 16:32] LuoweiZhou commented on #19
Hi @FrankChJ what's your command? Please make sure you're loading the yc2 config file.

[2019-08-27 17:12] FrankChJ commented on #19
@LuoweiZhou
I am performing the test algorithm on outer data.
this is my command :
"""
python3 test.py --cfgs_file cfgs/comp.yml  \
    --batch_size 1 --start_from results/yc2-2L-e2e-mask/model_epoch_19.t7 --id comp_yc2 \
    --val_data_folder comp --learn_mask --gated_mask --dataset yc2 --cuda
"""
And actually, in the config file comp.yml, I refer to some yc2 data file to build the dictionary.
th

[2019-08-27 17:16] FrankChJ commented on #19
Oh, I guess I get the point.
The kernel_list in yc2 is different from that in anet.
Thanks for replying!!!

[2019-08-30 13:21] jasonseu opened #20 "AttributeError: 'numpy.ndarray' object has no attribute 'append'"
https://github.com/salesforce/densecap/blob/1f6189c90ae8d7fd006c6d2394e9553bf1a614ac/model/action_prop_dense_cap.py#L467

Hey, I think you have made a mistake here. The variable pred_results is the object of np.ndarray, which have no append method.

[2019-08-30 13:41] LuoweiZhou commented on #20
Hi @jasonseu, thank you for the feedback. It should be `pred_results[0] = np.array([0, min(original_frame_len, T), pos_thresh])` instead and seems that loop is never executed. Will fix.

[2019-08-30 14:31] jasonseu commented on #20
@LuoweiZhou Yes, I think so, otherwise your code will not run successfully.

[2019-08-30 14:32] #20 closed

[2019-09-10 22:02] #13 closed

[2019-09-10 22:03] #17 closed

[2019-09-10 22:03] #18 closed

[2019-09-10 22:03] #19 closed

[2019-10-03 22:13] gholomia opened #22 "Model training with a single 2080 Ti"
Hi and thanks for the code.

I would like to run the `train.py` script on a single 2080 Ti GPU, with 10 GB of free memory ram.  I tried batch sizes of down to `1`, but I still get Cuda out of memory error. Is there any workaround to the problem? Or should I consider training on two GPUs? I am using the ActivityNet dataset.

I use this command to run the training script:
[code]
Thanks,
Ali

[2019-10-04 04:52] LuoweiZhou commented on #22
Hi @aligholami, can you confirm that you have set `--cuda` in your script? Also, since you are using RTX GPUs, I assume you're using CUDA 10 and PyTorch 1.0+? We have a note here regarding this: https://github.com/salesforce/densecap#requirements-recommended

[2019-10-04 22:31] ghost commented on #22
@LuoweiZhou Yes, I add the ``--cuda`` and forgot to put it in the script above. I am using CUDA 10 and PyTorch 1.2 and yes, I read the notes in that link. Do you think the problem is because of using a different PyTorch version?

[2019-10-05 19:11] LuoweiZhou commented on #22
@aligholami Highly likely. I'd recommend you try it on non-RTX GPUs with PyTorch 0.4 and see if you get the same error.

[2019-10-19 02:34] lszp opened #23 "loss: nan"
Hi,
When running the scripts/train.py on three XP GPU  cards, I met  that loss is nan in 1 epoch, likes as follow:

iter: [612/801], training loss: 1.8282, class: 0.1796, reg: 0.1497, sentence: 0.8524, mask: 0.6464, grad norm: 0.6423 data time: 0.0511s, total time: 1.4949s
iter: [613/801], training loss: 1.8322, class: 0.2033, reg: 0.1337, sentence: 0.8701, mask: 0.6250, grad norm: 0.5343 data tim

[2019-10-19 22:17] LuoweiZhou commented on #23
There are two possibilities:
i) The torch.exp [here](https://github.com/salesforce/densecap/blob/master/model/action_prop_dense_cap.py#L203) and the cross-entropy [loss](https://github.com/salesforce/densecap/blob/master/model/action_prop_dense_cap.py#L295) on the mask cause the numerical unstableness. The trick [here](http://cs231n.github.io/linear-classify/) (see below) could potentially solve t

[2019-10-20 03:29] lszp commented on #23
@LuoweiZhou , thank you, my batch size is 45, it works when reducing the lr to 0.01 .

[2019-10-20 03:32] LuoweiZhou commented on #23
How about around `45/56*0.1=0.08`?

[2019-10-20 06:20] lszp commented on #23
In the first three epochs, the loss is ok when the lr is set to 0.08 .

[2019-10-23 13:19] a1391651300 opened #24 "Sorry ,the speed for downloading the features is too slowly."
Sorry ,the speed for downloading the features is too slowly.Could you please provide the link of  Google Drive or any other way ?
Thank you for your work.Is the pretrained model has been well trained and I can deel with my own video without anymore training?

Thank you ,looking forward yor answer.

[2019-10-23 14:01] a1391651300 opened #25 "Thank you for your work.Could you provide the older version of the repo to extract features"
Thank you for your work . You have said "Note that ActivityNet is processed with an older version of the repo while YouCook2 is processed with the latest code which had a minor change regarding the sampling approach. This accounts for the difference in the formulation of frame_to_second conversion."
Could you provide the older version of the repo to extract features?Or could I  extract features of

[2019-10-23 19:04] LuoweiZhou commented on #25
The only differences are the two: [frame_interval](https://github.com/LuoweiZhou/anet2016-cuhk-feature/commit/357dc8ed5bc13c5cee4585a04f59f9208a5291d3#r35634942) and [duration casting](https://github.com/LuoweiZhou/anet2016-cuhk-feature/commit/372bf16a7dd9508c740ee847809810e7876d2845). The first one is the major one.

If you extract features on ActivityNet with the newer version, the pre-trained m

[2019-10-23 19:06] LuoweiZhou commented on #24
@a1391651300  Could you provide the links that you wish to have on Google Drive?

Yes, as long as you use the same feature extraction code as we provided.

[2019-10-23 21:20] LuoweiZhou commented on #23
You mean you got `nan` after the first three epochs?

[2019-10-24 00:59] lszp commented on #23
No. At that time , I only run three epochs. Now it is ok when running all epochs.

[2019-10-24 02:46] a1391651300 commented on #25
Thank you so much.

[2019-10-27 01:04] aligholami opened #26 "References to feature extraction methods?"
Hello and thanks for this great repo.

Could you please provide some reference to the paper/implementations used for feature extraction? I believe there are two major methods for feature extraction:
1. Optical flow BN-Inception feature
2. RGB ResNet-200 feature

Best,
Ali

[2019-10-27 01:26] LuoweiZhou commented on #26
You can find it in the last paragraph of [here](https://github.com/salesforce/densecap#annotation-and-feature).
A few related notes are [here](https://github.com/salesforce/densecap/issues/25).

[2019-10-27 19:40] ghost commented on #26
Hello.

I appreciate it if you can provide the actual references to the papers that come with this repo. I think it is better that you include them as a part of the repository. I went through the links but found nothing more useful than:
1. Optical flow BN-Inception feature
2. RGB ResNet-200 feature

I wish I knew the title of the papers at least :-)

[2019-10-29 00:33] LuoweiZhou commented on #26
It's based on this repo: https://github.com/yjxiong/anet2016-cuhk

[2019-11-06 11:57] john2019-warwick opened #27 "detail about sampling in get_pos_and_neg"
Hi, Luowei, thanks for your work and code provided! Can I ask you a question about detail in the code?
![Screenshot from 2019-11-06 11-35-32](https://user-images.githubusercontent.com/57441325/68295203-c68efa80-0089-11ea-8966-ea70f8f4f3e9.png)
In get_pos_and_neg function of train.py, when computing tIoU, why you use gt_start/sampling_sec, but for the potential proposal, it is not divided by sampli

[2019-11-06 21:32] LuoweiZhou commented on #27
The sampling rate does not guarantee to be 0.5s every frame due to int casting: https://github.com/LuoweiZhou/anet2016-cuhk-feature/blob/master/pyActionRec/video_proc.py#L85. Hence, we need to compute it per video.

[2019-11-08 19:10] #23 closed

[2019-11-08 19:10] #25 closed

[2019-11-08 19:10] #26 closed

[2019-11-09 14:21] john2019-warwick commented on #27
Thanks! This issue can be closed!

[2019-11-09 14:21] #27 closed

[2019-11-09 15:16] john2019-warwick opened #28 "Mask loss"
Hi, Luowei, thanks for your answer about the sampling, I have trained a model with mask and I also want to train a model with mask. Should I just put mask_weight=1.0, is there any other parameters should be changed? I have tried mask_weight=1.0 and got this error with mask, could you explain a little about this? Thank you!
![Screenshot from 2019-11-08 16-12-32](https://user-images.githubuserconten

[2019-11-11 07:07] LuoweiZhou commented on #28
@john2019-warwick First, make sure you are using python3. Are you using multi-GPU training (distributed data parallel)?

[2019-11-11 10:28] john2019-warwick commented on #28
Yes, I am using python3, here is the parameter I set:
![train_para1](https://user-images.githubusercontent.com/57441325/68579589-62df4580-046c-11ea-8828-97eb5b58ec04.png)
![train_para2](https://user-images.githubusercontent.com/57441325/68579595-670b6300-046c-11ea-8090-e04c65b74f1b.png), the world_size=1, so no distributed training implemented. I just change mask_weight from 0 to 1. By the way, be

[2019-11-13 20:32] LuoweiZhou commented on #28
It seems even though you set `world_size=1`, your script can still see 8 GPUs. Can you try adding `CUDA_VISIBLE_DEVICES=0`. `d_model` indicates the Transformer hidden size (the code uses to work with the baseline LSTM-based models and we forgot to revise the helper, feel free to submit PR).

[2019-11-15 18:24] john2019-warwick commented on #28
I have tried and put CUDA_VISIBLE_DEVICES=0 ahead of my train.py script, but it still doesn't work.
![Screenshot from 2019-11-15 17-46-43](https://user-images.githubusercontent.com/57441325/68963904-f21f8c80-07cf-11ea-839a-34903d7c3fd3.png)
By the way, I run the test.py and find a problem here: https://github.com/salesforce/densecap/blob/45b20bb0860b0c5a5fc4878284c1ab0e6892a68f/scripts/test.py#L21

[2019-11-25 19:50] LuoweiZhou commented on #28
@john2019-warwick Sorry for the delay due to my travels. The evaluation script requires python2 in particular. Is the problem you mentioned above resolved?

[2019-11-25 23:04] john2019-warwick commented on #28
I have not solved that problem yet, I just focused on the understanding of your paper, and trying to resolve the problem of python version change in subprocessing.

[2019-11-26 05:49] LuoweiZhou commented on #28
Just to make sure, you have had something like `CUDA_VISIBLE_DEVICES=0 python train.py...`, right?

For the issue, can you print out `mask_loss` and `total_loss` first to see why the sizes are not matching?

[2019-11-26 09:32] john2019-warwick commented on #28
Yes, I have one gpu0 in my server, I also think there is something wrong with mask_loss, I will soon check it!  By the way, in your proposal decoder, you try to learn three parameters: Pe, thetac,  theatal, but why there are the output is 4-dimensional? Here:  https://github.com/salesforce/densecap/blob/45b20bb0860b0c5a5fc4878284c1ab0e6892a68f/model/action_prop_dense_cap.py#L203

[2019-11-27 16:56] LuoweiZhou commented on #28
@john2019-warwick There is another value called `overlapping_score` used in our preliminary experiments but is deprecated now: https://github.com/salesforce/densecap/blob/45b20bb0860b0c5a5fc4878284c1ab0e6892a68f/model/action_prop_dense_cap.py#L174

[2019-11-27 18:24] john2019-warwick commented on #28
Thanks you! So you just simply adjust the dimension of the output of proposal network to 3 in your latest experiment, right? Also, after proposal learning, the visual features are input into the encoder again to combine with mask learned for language decoder learning, right? Another question is that your window size is 480, is it possible that there are more than one annotation during this time si

[2019-11-28 01:56] LuoweiZhou commented on #28
i) We didn't make the change in the code but feel free to do so and submit PR.
ii) Yes, the visual feature will pass through the entire Transformer for caption generation.
iii) We treat each event independently so we will output one caption per event and it doesn't matter how many events are in the 480 window.

[2019-11-28 06:59] Gavinic opened #29 "pretrain-feature download"

[2019-11-28 07:00] Gavinic commented on #29
![connect](https://user-images.githubusercontent.com/20828244/69784037-d2d12800-11ef-11ea-91bf-66969266e040.png)

[2019-11-28 07:02] Gavinic commented on #29
training_feat_yc2.t   4%[                    ] 407.16M  --.-KB/s    in 7m 54s

2019-11-28 14:17:42 (879 KB/s) - Connection closed at byte 426938969. Retrying.

[2019-11-28 07:29] #29 closed

[2019-12-02 10:56] john2019-warwick commented on #28
Thanks for your reply, for question 3, I still cannot understand, eg. In a window of 480 frame, if there are two events, what you in fact put in training? different sentences with the same 480*1024 visual feature? If this is the case, when test, if there are overlapping events (take place with overlap), but only one caption output?

[2019-12-18 04:39] rachita-ramesh opened #30 "No output"
I used the pre-trained model and downloaded the test dataset of youcook2.
While running test.py file, I'm not getting any output. Any suggestions ?

Thanks in advance

[2019-12-18 14:20] LuoweiZhou commented on #30
@rachita-ramesh I assume you mean you did not get the language evaluation outcome? Have you got the result JSON file? If so, then you can run this command separately to better debug: https://github.com/salesforce/densecap/blob/master/scripts/test.py#L216

[2020-02-04 10:58] rishabh2301 opened #31 "Import Error for numpy"
https://github.com/salesforce/densecap/blob/45b20bb0860b0c5a5fc4878284c1ab0e6892a68f/scripts/test.py#L216

Hi @LuoweiZhou  on testing the code and calling the evaluation scripts you have used python2, but I am constantly getting import error for NumPy. Do you know about this error ? I think somehow it may be related with my NumPy package installed for python 3.7. But I couldn't figure out still. C

[2020-02-04 17:02] LuoweiZhou commented on #31
@rishabh2301 This usually results from multiple installed Numpy on both python2 and python3. You might want to check where are the packages using `pip show` or `pip3 show`. You may also want to ensure the program is not using numpy outside of the conda environment (i.e., the base env) or the local version.

[2020-03-30 09:29] KululuMi opened #32 "Loading data error"
Hello and thanks for the code.

I used this command to run the train.py with pytorch0.4.0, CUDA9.0, CUDNN 7.1.4

CUDA_VISIBLE_DEVICES=0,1 python3 train.py --dist_url /workdir/mixiaoyue/nonexistent_file --cfgs_file cfgs/anet.yml --checkpoint_path checkpoint/$id --batch_size 4 --world_size 2 --cuda --sent_weight 0.25 --mask_weight 1.0 --gated_mask |tee log.txt

However,I got the bug when video data

[2020-03-30 09:33] KululuMi commented on #32
I'm not sure if the image was uploaded successfully. Here is the content of bug、

video: 9g1omTdpoYs
Traceback (most recent call last):
  File "train.py", line 550, in <module>
    main(args)
  File "train.py", line 241, in main
    train_loader, valid_loader, text_proc, train_sampler = get_dataset(args)
  File "train.py", line 154, in get_dataset
    sample_listpath=args.train_samplelist_path,

[2020-03-30 13:59] LuoweiZhou commented on #32
@KululuMi I'd suggest you run the code under the single-GPU setting first. Also, when you run it with dist data parallel, make sure you set `--dist_url file:///workdir/mixiaoyue/nonexistent_file` instead. We have seen a few issues with the multiprocessing package with this version of pytorch, for example [issue 11](https://github.com/salesforce/densecap/issues/11). You can search in the repo Issue

[2020-03-30 15:30] KululuMi commented on #32
@LuoweiZhou  Thanks to your reply.I use python3.6 and Linux version 3.10.0-862.mt20181120.113.el7.x86_64.

 I've tried a new command follow your advice:

CUDA_VISIBLE_DEVICES=0 python3 train.py --dist_url file:///workdir/mixiaoyue/nonexistent_file --cfgs_file cfgs/anet.yml --checkpoint_path checkpoint/$id --batch_size 4 --world_size 1 --cuda --sent_weight 0.25 --mask_weight 1.0 --gated_mask |tee l

[2020-03-31 01:56] LuoweiZhou commented on #32
@KululuMi The last msg is a warning regarding YAML and does not account for the issue. When you say you followed #11, you mean you have disabled multiprocessing? BTW, are you using Ubuntu 16.04?

[2020-04-01 07:00] KululuMi commented on #32
@LuoweiZhou  I use CentOS 7.5.1804. I followed https://github.com/salesforce/densecap/issues/11 :
 made pin_memory =True, and edited the train.py   anet_dataset.py scripts with this :
from torch.multiprocessing import Pool, Process, set_start_method, cpu_count
try:
set_start_method('spawn')
except RuntimeError:
pass

I've checked there was no defunct process. But there's no response when the progr

[2020-04-01 14:55] LuoweiZhou commented on #32
@KululuMi I've never tested the code on CentOS but I suspect multiprocessing is the issue here. You can refer to the following comments and disable it for now:
https://github.com/salesforce/densecap/issues/11#issuecomment-501963691
https://github.com/LuoweiZhou/densecap/issues/3

[2020-04-10 06:56] kkjh0723 opened #33 "ImportError: No module named 'data'"
When I run following command,
[code]
I got the following error,
[code]
It seems that the issue related to the python path.
When I copy the `test.py` to the root directory, then it runs without any error.
How to make it run without copying the file to the root directory?

[2020-04-12 21:59] LuoweiZhou commented on #33
@kkjh0723 You could try exporting the path to env variable PYTHONPATH:
`export PYTHONPATH=$PYTHONPATH:[PATH TO YOUR DIR]/densecap`
Would be helpful to add that for the submodule `coco-caption` as well:
`export PYTHONPATH=$PYTHONPATH:[PATH TO YOUR DIR]/densecap/tools/densevid_eval/coco-caption`

[2020-05-08 15:03] KululuMi commented on #32
@LuoweiZhou  Thanks a lot! I have tried your suggestion and solved the problem. However, I met another question. When running the program, GPU was not used, and Loss was always nan. I don't know what went wrong
![image](https://user-images.githubusercontent.com/38107150/81418953-0e4d2680-9180-11ea-86b2-b3e8c4f531f5.png)

[2020-05-10 14:47] LuoweiZhou commented on #32
@KululuMi When you say "GPU was not used", can you monitor your `nvidia-smi` and make sure the utilization is consistently 0%? Because the way in which we load feature files (individual `*.npy` files), the training speed is largely affected by data loading speed (if you have a slow hard disk I/O). This results in 0% utilization sometimes. For the `nan` issue, you need to first locate which loss in

[2020-05-11 02:33] lucky-23 opened #34 "Ground truth values are 0"
When I tried to run the test.py I always seem to get the error in the line of eval_proposal_anet.py max_avg_nr_proposals = float(proposals.shape[0]) / video_lst.shape[0]. The error says it cannot be divided by zero. When I checked the ground truth it all turns out to be zero. I cannot understand why there seems to be no ground truth files. I am new to video captioning and python in general.I would

[2020-05-11 14:24] LuoweiZhou commented on #34
@lucky-23  For event proposal, you may want to check if you have loaded the correct [GT file](https://github.com/salesforce/densecap/blob/2a4bb05b9a22ef025d3a25e34527059b3124c317/tools/eval_proposal_anet.py#L88). Also, your [output file](https://github.com/salesforce/densecap/blob/6ac8cceea7b5f4e4469e5e09e9f434d92841ddf9/scripts/test.py#L231) exists as we adopt an offline evaluation.

[2020-05-11 14:31] lucky-23 commented on #34
Thanks for replying back. Can you please specify which is the ground truth file? I am confused about it.
Thanks again

[2020-05-11 14:48] LuoweiZhou commented on #34
It's here: https://github.com/salesforce/densecap/blob/master/scripts/test.py#L35
You may also want to double check the subset: https://github.com/salesforce/densecap/blob/master/scripts/test.py#L234

[2020-05-11 18:44] KCbao opened #35 "Obtained not good result for yc2 validation dataset, how to fix?"
@LuoweiZhou Thank you for your great work. I am trying video captioning on yc2 validation dataset with yc2 e2e pre-trained model, but I didn't get reasonable results. Going through the entire validation dataset took me several hours, so I just set break points in codes to see captions for each video. For example, for video id =  xHr8X2Wpmno, which is a AUTHENTIC Fattoush Salad Recipe (Fattoush Rec

[2020-05-12 14:51] LuoweiZhou commented on #35
@KCbao The difficulty in this task lies in both event localization and caption generation. Hence, an imperfect event localization might result in bad captions. Your config file looks good to me.

As for the evaluation speed, it should not take hours. Make sure you're loading the feature files locally vs. through network (e.g. NFS) as this could greatly affect the speed (you could also bind the fea

[2020-05-15 08:42] KululuMi commented on #32
@LuoweiZhou  Thanks for your reply. I'm sure the utilization of my GPU is consistently 0%, I've tried 5 times. and  print(arg.cuda) is always True.

The loss is normal after reducing the learning rate, but when I tried to use pretrained model, the process showed a new bug:
![image](https://user-images.githubusercontent.com/38107150/82030358-f23f0d00-96ca-11ea-9c60-1f4b847c1e52.png)

But I did not

[2020-05-17 03:58] KululuMi commented on #32
@LuoweiZhou I've solved the gpu utilization problem, that's  a bug in docker. But when I use pretrained model,  it's always the same Bug

[2020-05-19 12:05] lucky-23 commented on #34
Thanks alot!

[2020-05-19 12:05] #34 closed

[2020-06-08 02:36] duola1970 opened #36 "Use your pre-training model and code"
Hello!Since I am new to this direction, I would like to trouble you to write a complete use process for your project, that is, how to use your pre-training model and code to implement the input of a video file and get the output of a video description file.I would be very grateful if you could solve this problem.

[2020-06-08 03:15] duola1970 opened #37 "Run the test. py"
Error:
D:\Anaconda2\envs\py36\python.exe D:/PythonCode1/densecap-master/test.py
D:/PythonCode1/densecap-master/test.py:82: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  options_yaml = yaml.load(handle)
Namespace(attn_dropout=0.2, batch_size=1, cap_dropout=0.2, cfgs_file='cfgs/anet.

[2020-06-09 01:29] niu1970 commented on #37
Then I downloaded and installed it offline：
![image](https://user-images.githubusercontent.com/62270710/84096062-7919a800-aa33-11ea-8f57-a2cb6fd23faa.png)

The same error occurs when you run the Python-M Spacy Download en statement！

[2020-06-13 00:47] duola1970 opened #38 "The test of time"
![image](https://user-images.githubusercontent.com/62270710/84555871-d4100f80-ad51-11ea-9388-0e12f8cc4c11.png)

How long does it take to run the above code?The program has been running for nearly 12 hours since yesterday. It hasn't stopped yet. Is it my problem?

Here are some of the outputs I set up for observation. Are there any questions?
data:
 (tensor([[[  0.3583,   0.5566,   0.6376,  ...,

[2020-07-05 08:56] abhranil08 opened #39 "When testing I get this error, how can I fix this?"

[2020-07-05 10:52] abhranil08 commented on #39
Solved the above one.
Now getting this error.

`
Namespace(attn_dropout=0.2, batch_size=1, cap_dropout=0.2, cfgs_file='cfgs/yc2.yml', cuda=True, d_hidden=2048, d_model=1024, dataset='yc2', dataset_file='./data/yc2/yc2_annotations_trainval.json', densecap_eval_file='./tools/densevid_eval/evaluate.py', densecap_references=['./data/yc2/val_yc2.json'], dur_file='./data/yc2/yc2_duration_frame.csv', fea

[2020-07-13 01:29] tuyunbin opened #40 "rank parameter missing"
Hi, I have met two problems. The first probles is what I should set for --dist_url? I have a single server which has 8 gpus. I used ubuntu16.04 and pytorch1.4 and my cuda is 10.0.
The second problem is that I met an error when I use used following command:
CUDA_VISIBLE_DEVICES=0 python3 scripts/train.py --dist_url 'file:///data/luwantong/nonexistent_file' --cfgs_file cfgs/yc2.yml \
    --checkpoin

[2020-07-17 04:26] awkrail commented on #11
Hello.

I met the same error, and I solved this problem by removing the multiprocessing as follow:
(original)
[code]
(removing multiprocessing)
[code]
Note that this modification makes computation too slow, but it works in my case.

[2020-07-18 07:45] awkrail commented on #16
Hi, @LuoweiZhou
I run the eval code from ActivityNet 2017 Challenge using the pre-trained model that you released.
I'd like to evaluate the YouCook2 dataset rather than the ActivityNet caption dataset, thus evaluating command is as follow:
[code]
I got the result as:
[code]
Actually, the result is different from the reported score described in Table 3 in your paper.
Would you like to tell me how t

[2020-07-18 19:03] LuoweiZhou commented on #16
Your results correspond to the last row on the last two columns (0.30 and 6.58). The model was improved since our initial paper submission. You can use either one as your reported baseline results and note if it is from the latest codebase (preferred) or the original paper.

[2020-07-19 01:12] awkrail commented on #16
OK, Thank you for your reply.

[2020-07-20 02:41] entingsung commented on #11
Hello,

Thanks for your reply and solution!!!
It’s so kind of you.
I’ll try it! Many thanks!!

Taichi Nishimura <notifications@github.com>於 2020年7月17日 週五，下午12:26寫道：

[2020-07-21 02:35] lucky-23 opened #41 "Low scores"
Hello, when I did the evaluation using the pre-trained weights I got really low scores as compared to the ones reported in the paper.  Can you please specify why this is happening? I used Activity net dataset. Also I wanted to ask why sometimes models(not this model) generate same captions for all the testing set?(not related to this model). I am relatively new to the video captioning research so

[2020-07-21 04:07] LuoweiZhou commented on #41
@lucky-23 You may refer to this issue: https://github.com/salesforce/densecap/issues/16#issuecomment-519323542

[2020-08-11 03:17] n4r3n00 opened #42 "How to generate captions for GT segments?"
From the code and github readme, those codes seem to generate the captions only for learned proposals.
(In github, "We use a different code base for captioning-only models (dense captioning on GT segments). ")
Can I know how to generate the captions for GT segments?
Can you share any code or idea to do that?

[2020-08-12 05:08] LuoweiZhou commented on #42
@n4r3n00 That part of code has not been sanitized or reviewed yet and hence we are not planning for a release. To adapt the existing code to captioning-only, you will need to feed GT windows rather than generated proposals to the Transformer decoder. The proposal module will no longer be needed and the resulted code will be quite light-weight. Please refer to action_prop_dense_cap.py and transform

[2020-08-18 08:28] lucky-23 commented on #16
Hi ,I run the the evaluation code from ActivityNet 2017  using the pre-trained model that you released. I used the activity net dataset. However, the scores reported are still very low as given in the paper? You said that the old evaluation code does not penalize the the proposals that do not overlap with GT segments but still  the scores are still very low.  Can you please explain why this is hap

[2020-08-18 12:49] lucky-23 commented on #41
Hi  @LuoweiZhou ,I ran the the evaluation code from ActivityNet 2017 using the pre-trained model that you released. I used the activity net dataset. However, the scores reported are still very low as given in the paper.Is the reported score based on the evaluation done on GT segments and not on the learned proposals? You said that the old evaluation code does not penalize the the proposals that do

[2020-08-18 16:26] LuoweiZhou commented on #41
This codebase only includes training and evaluation on **learned proposals** as we stated in the README. In the paper, Tab. 1 corresponds to with learned proposals and Tab. 5 corresponds to with GT events.

[2020-08-18 21:21] lucky-23 commented on #41
@LuoweiZhou Thanks for replying back! I ran the evaluation code from ActivityNet 2017 using the pretrained weights that you released but still the scores which I got is very low as compared to those reported on the paper. Can you please tell me how to get the same scores as reported on the paper?

[2020-08-18 23:15] LuoweiZhou commented on #41
@lucky-23 Could you elaborate in a little more detail how did you perform the evaluation? Also, what are the numbers you ended up getting. This could help me better troubleshooting.

[2020-08-19 00:04] lucky-23 commented on #41
Hi @LuoweiZhou I used the pretrained weights that you released and did the evaluation on the validation set using the Activitynet 2017 evaluation code as given in this link. https://github.com/ranjaykrishna/densevid_eval/tree/b8d90707984bf9c99454ba82b089006f14fb62b3.
The score reported is:
tI0U : 0.3
CIDEr : 0.0014
Bleu_4 : 0.0014
Bleu_3 : 0.0040
Bleu_2 : 0.0094
Bleu_1 : 0.0242
Precision : 0.1076

[2020-08-19 01:00] LuoweiZhou commented on #41
@lucky-23 The link to the 2017 evaluation code is actually this: https://github.com/LuoweiZhou/densevid_eval

[2020-08-19 06:19] lucky-23 commented on #41
HI @LuoweiZhou  I used your evaluation code as well but still the scores I got for activity net dataset is really low as compared to the paper. Is it because the code in written in python 2.7 and I have python 3 installed? Do you think this will cause any change to the result?

[2020-08-19 06:24] LuoweiZhou commented on #41
I do not see why the python version would result in such a major difference. Here are the result outputs from my run and you might want to compare them with yours to locate there the bug possibly is: https://drive.google.com/drive/folders/1Sm9jixy6FocVG8Lkf3FQdcI7G0I8ZyLk?usp=sharing

[2020-08-19 11:41] lucky-23 commented on #41
Hi @LuoweiZhou I did the evaluation on your generated segments and I got the correct meteor score! There seems to be a bug in my code and I will look into it. And lastly can you please tell me how long did you train your model for( number of epochs)?
Thanks alot😊

[2020-08-19 17:27] LuoweiZhou commented on #41
@lucky-23 Glad to help. You can specify the number of epochs here: https://github.com/salesforce/densecap/blob/master/scripts/train.py#L77 Usually 20 epochs is good enough. I don't quite remember the exact training time though but it should just take hours.

[2020-08-19 17:28] LuoweiZhou commented on #16
Marked as duplicate with this issue: https://github.com/salesforce/densecap/issues/41

[2020-08-19 17:31] LuoweiZhou commented on #40
The code is only compatible with an old version of PyTorch (0.4.0) which uses a different/old distributed data parallel package.

[2020-08-19 17:33] LuoweiZhou commented on #36
Please search through existing [issues](https://github.com/salesforce/densecap/issues) for the answer.

[2020-08-19 17:49] #42 closed

[2020-08-19 17:49] #41 closed

[2020-08-19 17:50] #35 closed

[2020-08-19 17:50] #33 closed

[2020-08-19 17:50] #31 closed

[2020-08-19 17:50] #30 closed

[2020-08-19 17:51] #24 closed

[2020-08-19 17:51] #22 closed

[2020-08-19 17:51] #16 closed

[2020-08-19 17:51] #10 closed

[2020-08-24 22:04] AnukritiSinghh commented on #33
I get the same error for train.py and I dont know what to do. I am new to this. Should write like this when I run - "--export PYTHONPATH=...." ?

[2020-08-24 23:42] LuoweiZhou commented on #33
No, you are setting environment variables. So, you need to run these before your python command.

[2020-08-25 06:46] AnukritiSinghh commented on #33
Thank you. It worked!

[2020-08-25 07:28] AnukritiSinghh commented on #33
I have one other question, do I need to write the $id in " --checkpoint_path ./checkpoint/$id" ?
Because I am getting this error -
train.py: error: unrecognized arguments:  --checkpoint_path ./checkpoint/  --cuda

[2020-08-25 07:54] AnukritiSinghh commented on #22
Hello @gholomia can you please tell me how'd you write the model name e2e-masked as $id in the checkpoint? For where did you get e2e-masked?

[2020-08-30 06:28] AnukritiSinghh opened #43 "num_samples=0 error"
Can you please explain the line number 45 and 48 in train.py ? Where are these .pkl files ? Are these pre-processed files for the training data? I run the this -
CUDA_VISIBLE_DEVICES=0 python3 scripts/train.py --dist_url='file:///mnt/data1/anukriti/videodense_dataset/densecap/nonexistent_file' --cfgs_file cfgs/anet.yml --checkpoint_path ./checkpoint/e2e-masked --world_size 1 --batch_size 1 --cuda

[2020-08-31 05:50] AnukritiSinghh commented on #43
` Namespace(alpha=0.95, attn_dropout=0.2, batch_size=1, beta=0.999, cap_dropout=0.2, cfgs_file='cfgs/anet.yml', checkpoint_path='./checkpoint/e2e-masked', cls_weight=1.0, cuda=True, d_hidden=2048, d_model=1024, dataset='anet', dataset_file='/mnt/data1/anukriti/videodense_dataset/data/anet/anet_annotations_trainval.json', densecap_references=['/mnt/data1/anukriti/videodense_dataset/data/anet/val_1.

[2020-09-02 15:17] AnukritiSinghh commented on #4
I am getting the same error of "RuntimeError: Device index must not be negative" . Is changing from -1 to 0 a solution?

[2020-09-02 20:42] AnukritiSinghh commented on #39
I am getting the same error as your last one. Can you please let me know how you solved this?

[2020-09-02 21:14] AnukritiSinghh commented on #4
Did you get any error like
TypeError: can't convert cuda:0 device type tensor to numpy. Use Tensor.cpu() to copy the tensor to host memory first.
 When you changed from -1 to 0?

[2020-09-04 06:51] AnukritiSinghh commented on #43
Even after solving the num_samples=0 error, can you please let me know if 'Device index must not be negative ' is an error because of pytorch version being 1.6?

[2020-09-11 12:29] AnukritiSinghh commented on #4
I figured out the variables which are tensors in cuda and added .cpu() to them, it worked.

[2020-09-11 12:31] AnukritiSinghh commented on #43
Changing the device index to 0 helped and then converting the torch tensors of cuda to cpu.

[2020-09-11 12:31] #43 closed

[2020-09-11 12:40] AnukritiSinghh commented on #37
Just in case you haven't solved the error, try this
 pip3 install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
and then this
python -m spacy download en

[2020-10-16 08:19] Naren00 opened #44 "Question about training caption model"
Hello,
I have a question about training cap_model with end-to-end maksed transformer.

In the code, the cap_model is trained with "window_mask = (gate_scores * pred_bin_window_mask.view(B, T, 1)".
As I understand, the pred_bin_window_mask is extracted by prediction.

Therefore, Is caption model(cap_model) trained on the learned_proposal (not GT with label) ??
Is it right what I understand?

And, I

[2020-11-24 11:43] pandababyer commented on #39
@abhranil08 @AnukritiSinghh  Hi, I got the same problem. I am using RTX 2080Ti so the pytorch version is 1.0 which cause the error. The solution is by restoring the data to cpu and then using numpy,  so I change pred_start and pred_end to pred_start.cpu(), pred_end.cpu() in https://github.com/salesforce/densecap/blob/45b20bb0860b0c5a5fc4878284c1ab0e6892a68f/model/action_prop_dense_cap.py#L403
and

[2021-03-01 21:54] medhini commented on #37
This still doesn't fix the problem for me.

[2021-03-15 21:17] lokeaichirou opened #46 "Run test.py with RuntimeError: Device index must not be negative"
Hello,  thanks for your code. I run the test.py in google  colab with GPU as backend. However, I got the runtime error : Device index must not be negative.   Is there any hint to solve it?

loading dataset
of words in the vocab: 1011
of sentences in training: 10337, # of sentences in validation: 3492
of training videos: 1333
-------------------------------------------------------------------------

[2021-03-15 21:53] lokeaichirou commented on #46
I solved by setting device = 0

[2021-03-15 21:53] #46 closed

[2021-03-15 21:56] lokeaichirou opened #47 "Run test.py giving ZeroDivisionError: division by zero"
Hi,
  I am running test.py  in google codelab with partial set of validation files, (the full set of validation files is too large to upload), however, it gives such error:

Initializing weights from ./checkpoint/yc2-2L-e2e-mask/model_epoch_19.t7
---------------------------------------------------------------------------
ZeroDivisionError                         Traceback (most recent call last)
<

[2021-03-15 23:12] #47 closed

[2021-04-28 12:06] lokeaichirou opened #48 "CUDA error: initialization error in training"
RuntimeError                              Traceback (most recent call last)
<ipython-input-26-ed4bd21d196e> in <module>()
      1 if __name__ == "__main__":
----> 2     main(args)

5 frames
<ipython-input-25-143500813ab3> in main(args)
     69
     70         epoch_loss = train(train_epoch, model, optimizer, train_loader,
---> 71                            vis, vis_window, args)
     72         al

[2021-05-17 13:13] awkrail commented on #23
I met the same problem, and I found that loss becomes nan when std is zero at LayerNorm in Transformer.
This is related to the PyTorch issue https://github.com/pytorch/pytorch/issues/4320, and fixed at the latest version.
To avoid this,  instead of `torch.std`, I implement LayerNorm as:
[code]

[2021-07-26 15:28] josch14 opened #49 "Training Issues: Very high training/validation loss"
First of all: Thanks for publishing the implemenatation code!

After many small errors occuring and small changes for fixing them, I am finally able to run the training of the model. However, my models (tested for different batch sizes, learning rates and for both, the Masked Transformer and the End-to-End Masked Transformer) won't really converge in a satisfying way. In one issue it was reported

[2021-07-30 03:58] textcunma opened #50 "Question about the `recall` and `recall area`"
I tried the code in this repo and got the result `proposal recall area 41.133031`, which is much lower than the `Average Recall` value (52.95, from Tab. 4) shown in your paper. Meanwhile, the `Recall` value reported in `Average across all tIoUs` was 78.6760 which seems to be more reasonable. So I'm wondering which one is the `Average Recall`?

[2021-07-30 15:07] josch14 commented on #49
I can't really understand why, but setting up the project up again with slightly different/older packages made it work now.

For the masked transformer and batch size of 32 the first training/validation loss now is 2.3234/1.67. (train loss > val loss !?).

[2021-07-30 15:07] #49 closed

[2021-07-30 15:32] josch14 commented on #50
As how I understand it, the 52.95 from the paper are only for the Event proposal part and not for the captioning results on learned event proposals. You also did the evaluation for this part?

I got a Recall of 87.2372 for the captioning part.

[2021-08-06 07:43] textcunma commented on #50
The following is the output from the trained masked transformer model:

<details>

[code]

</details>

And the following is the output from the trained end-to-end masked transformer model:

<details>

[code]

</details>

As you can see, there is a `Recall` (in the `Average across all tIoUs` section) and a `proposal recall area` (at the last line) in the output. Which one is the value `87.2372` you

[2022-03-24 07:11] intel-user opened #51 "Inference for an Image?"
Thank for your work!!
How can I inference for an image?